NODE_ENV=환경 // 'development', 'production', 'test'
PORT=포트
# ex postgresql://user:password@localhost:5432/database_name
DATABASE_URL=""
# ex: http://localhost:3000 ,https://your-frontend-domain.com [CANME과 A레코드를 둘다 넣어주세요]
FRONT_URL=""
# 아래 명령어로 랜덤 시크릿 생성: openssl rand --base64 32
BETTER_AUTH_SECRET=""
# Better Auth 서비스의 URL (예시: http://localhost:포트번호 또는 배포된 서비스 URL)_
BETTER_AUTH_URL=""
# Sentry DSN (공백으로 두면 sentry 미사용)
SENTRY_DSN=""

# AWS S3 Configuration (필수 사항)
AWS_ACCESS_KEY_ID="" # 보안 자격 증명 > 액세스 키 만들기
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="ap-northeast-2"
AWS_S3_BUCKET_DOCUMENTS=""
AWS_S3_BUCKET_REPORTS=""
# CloudFront Configuration (선택 사항)  cloudfront > 
AWS_CLOUDFRONT_URL_DOCUMENTS="" # CloudFront 배포 도메인 이름 (예: d123.cloudfront.net)
AWS_CLOUDFRONT_URL_REPORTS="" 
AWS_CLOUDFRONT_KEY_PAIR_ID="" # CloudFront 키페어 ID (SIGNED URL용)
# AWS_CLOUDFRONT_PRIVATE_KEY="" # CloudFront 프라이빗 키 (SIGNED URL용) 없을시 ssm 파라마터 에서 가져오니 상관없음